{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./user-management-frontend/tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "one-var": ["warn", "consecutive"],
    "curly": ["warn", "multi"],
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "prettier/prettier": "warn"
  },
  "ignorePatterns": ["**/node_modules/**", "*.js"]
}
